@font-face {
  font-family: "Poppins-Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap");
}

body {
  height: 100%; /* note #1 */
  margin: 0; /* note #2 */
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Poppins-Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1eadf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
